

.table-view{
     -fx-background-color: transparent;

     /* 테이블 뷰 보더 굵기 : 모두 0 */
     -fx-border-width: 0 1 1 0;


 }

.table-column {
    -fx-alignment: CENTER_RIGHT;
}

.table-row-cell {
    -fx-background-color: -fx-table-cell-border-color, #f7ecde;
}

.table-row-cell:odd {
    -fx-background-color: -fx-table-cell-border-color, #e9dac1;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-view .column-header{
    -fx-alignment: CENTER_RIGHT;
    -fx-background-color: e9dac1 ;
    -fx-border-color: #e9dac1;
    -fx-border-width: 0 0 1 1;
}

.table-row-cell:selected {
    -fx-border-width: 0 0 0 0;
    -fx-background-color: #FC997C;
    -fx-opacity: 80;
}
